
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bcd8f3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  padding: 12px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #f1c40f;
  margin-right: auto;
  margin-left: 20px;
}

.nav-logo {
height: 55px;
width: 55px;
border-radius: 40px;
}
 .navbar a{
 color:white;
 text-decoration: none;
 padding: 10px 20px;
 margin: 0 10px;
 font-weight: bold;
 transition: 0.3s;
 }
.navbar a:hover{
    background-color: #f1c40f;
    border-radius: 5px;
}

.navbar .nav-icon {
  width: 22px;   
  height: 22px;
  margin-right: 7px; 
  vertical-align: middle; 
  background-color: white;
  border-radius: 15px;
}
.content {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #c8bbf5 ;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.content h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.content p {
  line-height: 1.6;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
  color: #2c3e50;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 14px;
}

.contact-form button {
  background-color: #f1c40f;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #d4ac0d;
}

   .footer {
  background-color: #2c3e50;  
  color: white;
  padding: 40px 20px 20px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-section h2, 
.footer-section h3 {
  color: #f1c40f;  
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #f1c40f;
  text-decoration: none;
}
.footer-section p {
  color:white;
}
.footer-section a {
  text-decoration: none;
}
.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  font-size: 14px;
}
  