body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #bcd8f3;
    overflow-x: hidden;
}
.logo {
    color: #f1c40f;
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 20px;
}
.nav-logo{
       height: 55px;
       width: 55px;
       border-radius: 40px;
    }

.navbar {
    background: #2c3e50;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    background: #f1c40f;
    border-radius: 5px;
}

/* Container and Cards */
.container {
  display: flex;
  gap: 30px;
  padding: 50px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #c8bbf5;
  border-radius: 10px;
  width: 340px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: black;
}

.card a:hover {
  background: #ff4f4f;
  color: white;
}

.link {
  text-decoration: none;
}

.footer {
  background-color: #2c3e50;  
  color: white;
  padding: 40px 20px 20px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-section h2, 
.footer-section h3 {
  color: #f1c40f;  
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #f1c40f;
  text-decoration: none;
}
.footer-section p {
  color:white;
}
.footer-section a {
  text-decoration: none;
}
.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  font-size: 14px;
}

/* Big Screens */
@media screen and (min-width: 1440px) {
  .container {
    gap: 50px;
    padding: 80px 100px;
  }

  .card {
    width: 400px;
    padding: 20px;
  }

  .navbar a {
    padding: 12px 20px;
    font-size: 18px;
  }

  .logo {
    font-size: 28px;
  }
}

/* Tablets */
@media screen and (max-width: 900px) {
  .container {
    gap: 20px;
    padding: 40px 20px;
  }

  .card {
    width: 300px;
  }

  .navbar {
    justify-content: center;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 5px 0;
    padding: 8px 10px;
  }

  .container {
    flex-direction: column;
    padding: 20px 10px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 100%;
  }
}
