body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #bcd8f3;
    overflow-x: hidden;
}
.logo {
    color: #f1c40f;
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 20px;
}
.nav-logo{
       height: 55px;
       width: 55px;
       border-radius: 40px;
    }

.navbar {
    background: #2c3e50;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    background: #f1c40f;
    border-radius: 5px;
}

.background {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.heading1 {
    position: relative;
    top: -600px;
    left: 680px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.get {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: solid blue 3px;
    background-color: white;
    color: black;
    text-align: center;
    position: relative;
    left: 700px;
    top: -550px;
    font-size: 20px;
    cursor: pointer;

}

.get:hover {
    border: 4px solid blue;
}




.h2 {
    position: relative;
    top: -270px;
    font-size: 40px;
    color: black;
    background-color: #ffd633;
    padding: 5px;
    margin-left: 450px;
    margin-right: 400px;
}


.card-container {
    height: 350px;
    width: 1400px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -240px;
}

.set-img {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    margin-top: 30px;
    padding: 5px;
}

.card {
    height: 280px;
    width: 300px;
    text-align: center;
    border-radius: solid 2px black;
    margin-top: 30px;
    cursor: pointer;
    padding: 10px;

}

.card:hover {
    border: 2px solid #2c3e50;
}

.efforts {
    color: black;
}

.heading2 {
    background-color: #ffd633;
    position: relative;
    padding: 8px;
    margin-left: 600px;
    margin-right: 500px;
    font-size: 40px;
    color: black;
    top: -120px;
}

h3 {

    text-align: center;
    color: darkslategray;

}

.card-container2 {
    height: 500px;
    width: auto;
    background-color: none;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -150px;

}

h1 {
    color: black;
}


.card2 {
    background-color: white;
    height: 380px;
    width: 350px;
    text-align: center;
    border: solid 2px gray;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}

.card2:hover {

    border: 4px solid #2c3e50;
}

.img {
    height: 238px;
    width: 350px;
    border-radius: 0px opx 12px 12px;
}

.footer {
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px 20px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h2,
.footer-section h3 {
    color: #f1c40f;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 140px;
}

.footer-section ul li a:hover {
    color: #f1c40f;
    text-decoration: none;
}
a{
    text-decoration:none;
}
p{
   
    color:white;
}
.footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    font-size: 14px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 5px 0;
    padding: 8px 10px;
  }
}
  /* Tablets */
@media screen and (max-width: 900px) {

  .navbar {
    justify-content: center;
  }
}/* Big Screens */
@media screen and (min-width: 1440px) {
  .navbar a {
    padding: 12px 20px;
    font-size: 18px;
  }

  .logo {
    font-size: 28px;
  }
}

@media screen and (min-width:400px) and (max-width: 1024px) {
    .background {
        align-items: center;
        width: auto;
        height: 450px;
        margin-left: 35px;
    }

    .heading1 {
        position: relative;
        top: -450px;
        left: 130px;

    }

    .get {

        position: relative;
        left: 130px;
        top: -450px;

    }

}

@media screen and (min-width:400px) and (max-width: 1024px) {
    .h2 {

        position: relative;
        width: 380px;
        top: -270px;
        left: -400px;


    }

    .card-container {
        height: 1500px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


    }

    .card {
        margin-top: 10px;



    }
}

@media screen and (min-width:400px) and (max-width: 1024px) {

    .card-container2 {
        height: 1000px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: -240px;
        align-items: center;
    }
}


@media screen and (min-width:400px) and (max-width: 1024px) {
    .heading2 {
        position: relative;
        padding: 8px;
        left: -580px;
        color: black;
        top: -200px;
        width: 400px;
    }



    .card-container2 {
        height: 500px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: -150px;

    }

}

@media screen and (min-width:400px) and (max-width: 1024px) {


    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
    }

}




@media screen and (min-width:400px) and (max-width: 1024px) {

    .card-container2 {
        height: 1800px;
        width: auto;
        margin: 10px;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: -240px;
        align-items: center;
    }
}

@media screen and (min-width:400px) and (max-width: 1024px) {

    .card-container {
        height: 1100px;
        width: auto;
        background-color: white;
        border-radius: 20px;
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


    }
}

@media screen and (min-width:400px) and (max-width: 1024px) {


    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 400px;
        margin: auto;
    }

}