.top-nav {
    background-color:#ffb3ff;
    height:60px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
}

.top-nav-items {
    text-decoration:none;
    color:black;
    font-size: 25px;
    margin: 15px;

}