 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
       .logo {
      color: #f1c40f;
      font-size: 22px;
      font-weight: bold;
      margin-right: auto;
      margin-left: 20px;
    }
    .nav-logo{
       height: 55px;
       width: 55px;
       border-radius: 40px;
    }
    .navbar {
      background: #2c3e50; 
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      font-weight: bold;
      transition: 0.3s;
    }
    .navbar a:hover {
      background: #f1c40f;
      border-radius: 5px;
    }
.container{
     max-width: 900px;
    margin:40px auto;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px #e6e6e6 ;

}
.header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.header h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 5px;
    color: #6a11cb; 
}

.header p {
    color: black;
    font-size: 1.1em;
}
.info{
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #e0e0e0 ;
    border-radius: 8px;
    background-color: #fcfcfc;
}
.button{
   color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      font-weight: bold;
      transition: 0.3s;
}

