body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .logo {
      color: #f1c40f;
      font-size: 22px;
      font-weight: bold;
      margin-right: auto;
      margin-left: 20px;
    }
    .navbar {
      background: #2c3e50; 
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      margin: 0 10px;
      font-weight: bold;
      transition: 0.3s;
    }
    .navbar a:hover {
      background: #f1c40f;
      border-radius: 5px;
    }